<li class="events__item" data-id="{{id}}">
        <div class="events__img-wrapper">
          <img
            class="events__img"
            src="{{img}}"
            alt="poster"
          />
        </div>
       <div class="events__card-info">
        <h3 class="events__artist-name">{{name}}</h3>
        <p class="events__date">{{date}}</p>
        <p class="events__location"><i class="fa-solid fa-location-dot"></i>{{location}}</p>
       </div>
      </li>

      